body {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  background: url(wood.jpg)no-repeat;
  background-size: 1400px;

}
#wrapper {
                width: 960px;
                margin: 20px auto;
                padding: 20px;
}

img{
              
                border-radius: 9999999px;
                
}
#footer{
                color: white;
                margin: 20px auto;
                padding: 20px;
                text-align: center;
}
.jumbotron {
  background-color: #467C5F;
}


h1{
  color:white;
}
li{
  color:white;

}